@import url(main.css);


/* SECTION HEADER */
.header {
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 1rem;
    z-index: 2;
}
.header__content-wrapper {
    position: relative;
    display: block;
    text-align: center;
}
/* SOCIAL ICON */
.header__icon {
    display: flex;
    display: none;
}
.header__icon > li {
    padding-right: 10px;
}
/* LOGO */
.header__logo {
    display: inline-block;
    font-size: 1.8rem;
}
.header__logo > a{
    color: white;
    font-family: 'Audiowide', cursive;
}

/* TRIGGER */
.header__trigger-search,
.header__trigger-menu {
    position: absolute;
    top: 5px;
}
/* BARS ICON */
.header__trigger-menu {
    color: white;
    font-size: 1.5rem;
    left: 20px;
}
/* SEARCH ICON */
.header__trigger-search {
    color: white;
    font-size: 1.5rem;
    right: 20px;
}

/* NAV BAR MENU WRAPPER */
.header__nav-bar {
    width: 100%;height: 100%;
    position: fixed;
    top: 0;left: 0;
    background-color: var(--black);
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.header__nav-bar::before {
    content: "Site Navigation";
    color: white;
    display: block;
    width: 100%;
    position: absolute;
    top: 10vh;
    letter-spacing: 3px;
}
.header  .header__nav-bar.active {
    opacity: 1;
    visibility: visible;
    z-index: 500;
}
/* NAV BAR LIST/MENU */
.nav-bar {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 20vh;
    text-align: left;
    border-top: 1px solid var(--whiteborder);
}
.nav-bar a {
    color: var(--whitetransparent);
}
.nav-bar > li {
    width: 100%;
    position: relative;
}
.nav-bar > li > a{
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid var(--whiteborder);
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
}
.nav-bar > li > a:hover{
    color: white;
}
.active > a{
    color: white;
}

.nav-bar > .dropdown > a::after{
    content: "";
    display: inline-block;
    margin-top: 5px;
    position: absolute;
    right: 10px;
    width: 5px;height: 5px;
    border-bottom: 1px solid var(--whitetransparent);
    border-right: 1px solid var(--whitetransparent);
    transform: rotate(45deg);
    transition: transform 0.4s ease-in-out;
}
.nav-bar > li > .rotate::after{
    transform: rotate(225deg);
}
/* NAV BAR SUB-MENU */
    /* SUBMENU_HOVER (HIDDEN IN MOBILE) */
    .dropdownMenu__hover {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #050505;
        left: -999em;
    }
    .dropdownMenu__hover a {
        display: block;
        padding: 10px 20px;
        transition: color 0.3s ease-in-out;
    }
    .dropdownMenu__hover a:hover {
        color: white;
    }
/* COLLAPSED SUBMENU (SHOW IN MOBILE) */
.dropdownMenu-collapsed {
    overflow: hidden;
}
.dropdownMenu {
    max-height: 1000000px;
    margin-bottom: 0;
    transition: margin-bottom 0.4s;
    padding-left: 1em;
}
.collapsed .dropdownMenu{
    max-height: 0;
    margin-bottom: -2000px;
    transition: margin-bottom 1s ease-in-out,max-height 1s;
}
.dropdownMenu > li > a {
    display: block;
    padding: 10px 0;
    font-size: 0.9em;
    transition: color 0.3s ease-in-out;
}
.dropdownMenu > li > a:hover {
    color: white;
}
/* X CLOSE */
.close {
    display: block;
    width: 45px;height: 45px;
    margin-left: -23px;
    position: absolute;
    top: 5vh;left: 50%;
}
.close::after,
.close::before {
    content: "";
    display: inline-block;
    background: white;
    width: 2px;height: 20px;
    position: absolute;
    top: 10px;
}
.close::before {
    transform: rotate(45deg);
}
.close::after {
    transform: rotate(-45deg);
}

/* SEARCH MENU  */
.header__search {
    width: 100%;height: 100%;
    position: fixed;
    top: 0;left: 0;
    background-color: var(--black);
    overflow: hidden;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.header__search.active {
    opacity: 1;
    visibility: visible;
    z-index: 500;
}
.search__area {
    width: 100%;
    display: block;
    position: absolute;
    top: 40%;
    color: white;
}
.search__area::after {
    content: "Press Enter to begin your search . ";
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--whitetransparent);
    letter-spacing: 2px;
    padding-top: 40px;
}
.search__area label {
    text-align: center;
}
.search__area label span {
    display: block;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 10px;
}
.search__area input[type="search"] {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    caret-color: var(--whitetransparent);
    background-color: var(--black);
    outline: none;
    font-size: 1.5rem;
    border: none;
    color: white;
    padding: 10px 0;
    border-bottom: 1px solid var(--whiteborder);
    transition: all 0.3s ease-in-out;
}
.search__area input[type="search"]::placeholder {
    color: white;
}
.search__area input[type="submit"] {
    display: none;
}

@media only screen and (min-width:400px) {
    /* TRIGGER */
    /* BARS ICON */
    .header__trigger-menu {
        left: 40px;
    }
    /* SEARCH ICON */
    .header__trigger-search {
        right: 40px;
    }
    /* SEARCH */
    .search__area input[type="search"] {
        font-size: 2.2rem;
    }
}
@media only screen and (min-width:600px) {
    /* SEARCH */
    .search__area input[type="search"] {
        font-size: 3rem;
    }
        /* ICON */
        .header__trigger-search,
        .header__trigger-menu {
            top: 10px;
            font-size: 1.5rem;
        }
        .header__trigger-search {
            right: 30px;
        }
        .header__trigger-menu {
            left: 30px;
        }
        /* LOGO */
        .header__logo {
            font-size: 2rem;
        }
}
@media only screen and (min-width:800px) {
    /* HEADER  */
    .header {

    }
    .header__content-wrapper {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 30px;
    }
    /* SEARCH */
    .search__area input[type="search"] {
        max-width: 650px;
        font-size: 4rem;
    }
    /* LOGO */
    .header__logo {
        font-size: 2.5rem;
    }
    /* ICON */
    .header__trigger-menu {
        display: none;
    }
    .header__trigger-search {
        top: 15px; right: 30px;
    }
    .header__trigger-search::before {
        content: "Search";
        display: block;
        text-transform: uppercase;
        font-size: 0.8rem;
        float: left;
        line-height: 24px;
        padding-right: 10px;
        letter-spacing: 2px;
    }
    .header__icon {
        position: absolute;
        display: flex;
        top: 15px;left: 30px;
        font-size: 1.2rem;
    }
    .header__icon a {
        color: white;
    }
    /* NAV MENU */
    .header__nav-bar {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        position: static;
        background: transparent;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in-out;
    }
    .header__nav-bar::before {
        content: none;
    }
    .header__nav-bar .close {
        display: none;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2vh;
    }
    .nav-bar > li {
        width: auto;
    }
    .nav-bar > li > a{
        display: block;
        padding: 15px;
        text-align: center;
        border-bottom: none;
        font-weight: 400;
        letter-spacing: 0px;
        transition: all 0.3s ease-in-out;
    }
    .nav-bar > .dropdown > a::after{
        content: "";
        display: inline-block;
        margin-top: 5px;
        position: absolute;
        right: 0;
        width: 5px;height: 5px;
        border-bottom: 1px solid var(--whitetransparent);
        border-right: 1px solid var(--whitetransparent);
        transform: rotate(45deg);
        transition: transform 0.4s ease-in-out;
    }
    .nav-bar > li > a:hover {
        color: white;
    }
    .nav-bar > li > a:hover::after {
        border-color: white;
        transform: rotate(225deg);
    }
    
    /* HAVE TO ADD AGAIN because rotate is add and remove by js*/
    .nav-bar > li > .rotate::after{
        transform: rotate(225deg);
    }
    /* SUB MENU */
    .dropdownMenu-collapsed {
        overflow: unset;
    }
    .dropdownMenu {
        display: none;
    }
    .collapsed .dropdownMenu {
        display: none;
    }
    .dropdownMenu__hover {
        top: 60px;left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: top 0.4s ease-in-out;
    }
    /* HOVER SHOW SUBMENU-HOVER */
    .dropdown:hover .dropdownMenu__hover {
        top: 50px;
        z-index: 500;
        opacity: 1;
        visibility: visible;
    }
}